@import "tailwindcss";

@font-face {
  font-family: "IsYun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
body * {
  font-family: "IsYun";
}
